*{margin: 0;padding: 0;}
*{box-sizing: border-box;}
*::before{box-sizing: border-box;}
*::after{box-sizing: border-box;}
ul,li{list-style: none;}
a{color: inherit;text-decoration: none;}
input{font: inherit;}
textarea{resize:none;}
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

.container {
    height: 100%;
}

.container > header {
    text-align: center;
    background: rgba(0,0,0,0.01);
}


/* Main Content */
.main {
    width: 95%;
}

.column {
    float: left;
    width: 50%;
    padding: 0 2em;
    min-height: 300px;
    position: relative;
}

.column:nth-child(2) {
    box-shadow: -1px 0 0 rgba(0,0,0,0.1);
}

.column p {
    font-weight: 300;
    font-size: 2em;
    padding: 0;
    margin: 0;
    text-align: right;
    line-height: 1.5;
}

/* To Navigation Style */
.codrops-top {
    background: #fff;
    background: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    width: 100%;
    font-size: 0.69em;
    line-height: 2.2;
}

.codrops-top a {
    padding: 0 1em;
    letter-spacing: 0.1em;
    color: #888;
    display: inline-block;
}

.codrops-top a:hover {
    background: rgba(255,255,255,0.95);
    color: #333;
}

.codrops-top span.right {
    float: right;
}

.codrops-top span.right a {
    float: left;
    display: block;
}

.codrops-icon:before {
    font-family: 'codropsicons';
    margin: 0 4px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
    content: "\e001";
}

.codrops-icon-prev:before {
    content: "\e004";
}

.codrops-icon-archive:before {
    content: "\e002";
}

.codrops-icon-next:before {
    content: "\e000";
}

.codrops-icon-about:before {
    content: "\e003";
}

/* Demo Buttons Style */
.codrops-demos {
    padding-top: 1em;
    font-size: 0.9em;
}

.codrops-demos a {
    display: inline-block;
    margin: 0.2em;
    padding: 0.45em 1em;
    background: #999;
    color: #fff;
    font-weight: 700;
    border-radius: 2px;
}

body{
    font-size: 12px;
    line-height: 1.5;
}

/* layout */
.page{display: flex;height: 100vh;}
.page > aside{width: 200px;}
.page > main{flex-grow: 1;}


/* aside */
.page > aside{
    display: flex;
    flex-direction: column;
}
.newSong{
    padding: 10px;
    text-align: center;
}
.newSong.active{
    background: #d4d4d4;
}
#songList-wrapper{
    flex-grow: 1;
}
.songList{
    border-top: 1px solid #999;
}
.songList > li{
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.songList > li.active{
    background: #d4d4d4;
}
.songList >li > span{
    float: right;
    color: #aeabab;
    padding-left: 14px;
    cursor: pointer;
}
.draggable{
    padding: 20px;
    border-radius: 4px;
    border: 2px dashed #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    flex-direction: column;
    text-align: center;
}
.clickable{
    cursor: pointer;
}
/* main */
.page > main{
    background: #d4d4d4;
    padding: 20px;
}
.form{
    font-size: 14px;
}
.form > .row{
    margin: 20px 0;
    display: flex;
}
.form > .row > label{
    width: 4em;
    display: flex;
    align-items: center;
    margin-right: 5px;
    justify-content: flex-end;
}
.form > .row.actions{
    margin-left: calc(4em + 5px);
}
.form input[type="text"],textarea{
    padding: 3px 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    height: 30px;
}
.form input[type="button"],
.form input[type="submit"],
.form button,textarea{
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background: none;
    box-shadow: none;
    border: 1px solid #ddd;
    background: #fff;
}
textarea{height: auto;}

/* loading */
.loading{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    z-index: 1;
    pointer-events: none;
}
.loading.active{
    display: block;
}
.loading::after{
    content: '';
    display: block;
    width: 80px;
    height: 80px;
    background: red;
    border-radius: 50%;
    animation: mymove 1s infinite alternate-reverse;
    transition: all .3s linear;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@keyframes mymove {
    0%{
        transform: scale(1.0)
    }
    100%{
        transform: scale(0.3)
    }
}